<div class="lomotherbody">
  <img src="assets/imgs/blugbg.png" class="ab_bg" />
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 15px;">
        <a routerLink="/" class="breadcums lol_graywhite font_roboto">
          TOP
        </a>
        <i class="fa fa-angle-right lol_arrow_icon lol_graywhite" aria-hidden="true"></i>
        <a routerLink="/loto/terms-of-use" class="breadcums lol_black font_roboto">
          Terms of use
        </a>
      </div>
      <div class="col-md-12">
        <h1 class="lol_htitle lol_black font_asap">Terms of use</h1>
      </div>
      <div class="col-md-12 lol_wrote_panel" style="padding-bottom: 110px;">

        <div class="pp_contents_group" style="margin-top: 40px;">
          <h4 class="pp_title lol_bluesky font_roboto">
             1. Definitions
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             Bitplay Club Lottery — a system whereby bitcoins are bet on the outcomes of the Bitcoin blockchain.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             User — an individual who has registered an account with Bitplay Club in accordance with the rules set out here.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             User e-mail address — a valid e-mail address entered by the User during the Bitplay Club account registration process.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             User Password — a private password that User makes up during registration process. The User is advised that such password
            must meet the following requirements: at least 8 characters and include at least one lowercase and one uppercase English
            letter, and a number. We recommend you to change the User Password every 3 months.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Bitplay Club Wallet — the internal system account where User can keep unlimited amount of funds for the purchase of lottery
            tickets and received winnings in accordance with these rules. Users may deposit BTCs into their Bitplay Club Wallet by transferring
            BTCs from their wallet to Bitplay Club wallet, which can be found in Deposit section. Deposits and withdrawals of BTCs to/from
            the User’s account are only possible through a wallet-to-wallet transaction.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             2. General rules
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             2.1. These rules cover Bitplay Club registration, participation, purchase of tickets, and payment of any winnings to the
            User’s internal account.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             2.2. In addition to these rules holding of each lottery is carried out in accordance with particular lottery rules.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             2.3. These rules are available on the Bitplay Club website. Bitplay Club has the right to amend all rules at its discretion.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             3. User Registration and User Account
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             3.1. Only registered Users can buy tickets for the lottery.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.2. Only individuals who are 18 years or older which have an active Bitcoin wallet may register an account and buy lottery
            tickets.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.3. To register an account User should fill out registration form with active e-mail and password.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.4. Each Bitplay Club user account can only be linked to one email address.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.5. By registering an account, the User ratifies that he is familiar with these rules, fully agrees to them, and will abide
            by them.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.6. After confirmation of the provided data a welcome e-mail will be sent to the User at the specified e-mail address.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.7. By registering with Bitplay Club, the User agrees that the registered e-mail address may be used to inform User about
            any important information.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.8. The confidentiality of the User’s Bitplay Club password is the sole responsibility of the User. All activity that occurs
            under the specific User account will be considered to have been done on behalf of that User.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.9. Bitplay Club is not responsible for any losses which may occur due to a password becoming known to a third party. If
            a User finds out that his password was used by a third person, the User is required to change his password immediately.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.10. If User forgot his password, he may change it by entering his registered e-mail address in "Sign In" section and click
            "Forgot password?". He will receive then an email with the password recovery instructions.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.11. If there is any suspicion that a User has violated any provision of these rules, or the activity of the User is considered
            to be fraudulent, Bitplay Club has the right to ban the User and close the User’s account.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             3.12. In any case where a User profile is closed, all funds in the User’s internal account against which Bitplay Club has
            no claim, will be transferred to the User’s BTC wallet address. Funds whose ownership is in question will be held in the
            User’s internal account until the ownership is determined.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             4. Prohibited usage
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             4.1. Individuals who are residents of the United States, Canada, France, Netherlands and Curaçao(the Prohibited Jurisdictions)
            are not permitted to use our services. For the avoidance of doubt, the above mentioned restrictions apply equally to residents
            and citizens of other jurisdictions while located in a Prohibited Jurisdiction. Any attempt to circumvent the restrictions
            on play by any individuals located in a Prohibited Jurisdiction, is a breach of these Terms of Use.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             5. Internal account and its usage
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             5.1. Depositing and withdrawing bitcoins to or from the internal account is only possible with a wallet-to-wallet transaction.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             5.2. To make a withdrawal from the internal account, fill out the form in the "Withdrawals" menu. BTCs will be transferred
            to the user’s wallet. The requested amount of BTCs will be frozen until payment is complete. All internal account events
            are shown in the "My Balance" menu.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             6. Data protection
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             6.1. Bitplay Club reserves the right to publish information regarding the lottery winning amount, ticket number, date of
            purchase and cost of the winning ticket.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             6.2. Bitplay Club hereby advises that the sale of lottery tickets through the Internet may be illegal and prohibited in
            some countries. It is the responsibility of the user to ensure that he or she has the right to make purchases and receive
            services offered by Bitplay Club over the Internet, in accordance with the legislation of the User’s country.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             6.3. It is recommended to enable 2-step verification in order to protect the account from hacking by adding another layer
            of security. With 2-step verification, signing in will require a code generated by the Google Authenticator app in addition
            to your account password.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             7. Participation in Lottery draw
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             7.1. Registered users must enter e-mail address, password and 2-step verification code (if this functionality was enabled).
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             7.2. User should choose the Lottery he wants to play and in accordance with the Lottery rules, choose necessary numbers
            on the ticket.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             7.3. Filled out ticket will be registered to participate in the draw in accordance with particular lottery rules. User may
            buy a few tickets or participate in a system game.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             7.4. User can pay for tickets only using its internal account balance.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             7.5. User can review all purchased tickets and their status in "My tickets" section at any time.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             8. Payouts
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             8.1. All winning information is available in the "My Tickets" and "My Balance" sections immediately after each drawing is
            processed.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             8.2. The validation for the payment of winnings is the registered ticket in accordance with the regulations of the lottery
            and drawing results.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             8.3. All winnings are transferred to the User’s Bitplay Club internal balance.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             9. Referral program
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             9.1. Any customer can participate in the Referral program run by Bitplay Club.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.2. To be eligible to participate in the Referral program as Referrer the customer needs to have an activated account with
            Bitplay Club lottery service.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.3. Every customer receives their unique Referral link upon account activation. This Referral link needs to be provided
            to other people for becoming a referral. A new player becomes a referral after registering an account through someone’s referral
            link. All referral links are valid 1 year upon clicking on it however we use the rule "Last Cookie Wins" which means that
            if an individual clicked on the referral link of a referrer A, didn’t register an account and then clicked on the referral
            link of a referrer B he’s automatically considered by the system as a referral of the last referrer, in this example it’s
            a referrer B.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.4. Each referrer receives a reward when its referrals purchase lottery tickets. The level of this reward is stated on
            the Referral Program page.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.5. All referral rewards are added to the referrer’s account balance once a day after the draw is closed and all tickets
            are counted.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6. When promoting Bitplay Club service all referrers must agree that the following activities are prohibited in regards
            to the promotion of Bitplay Club:
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6.1. Spamming, mass emailing;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6.2. Using different bots that distribute referral link;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6.3. Using of scripts/codes/algorithms that will message/invite individuals and send them the referral link;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6.4. Misleading information about Bitplay Club lottery service;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6.5. Creating multiple accounts at Bitplay Club;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.6.6. Creating websites, domains, social medias, email addresses containing Bitplay Club trade mark or imitating its belonging
            to Bitplay Service;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7 Bitplay Club customers agree not to use any prohibited content while participation in Referral Program. Prohibited content
            is:
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7.1. Content which promotes racism, bigotry, hatred, discrimination or physical harm of any kind against any group or
            individual;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7.2. Offensive, abusive, intimidating or harassing content;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7.3. Content that is sexually explicit, obscene and/or contains nudity;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7.4. Any political and/or religious statement;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7.5. Content containing images or reference to drugs, alcohol, tobacco, weapons or firearms;
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.7.6. Content that violates someone else’s privacy.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             9.8 Bitplay Club customers agree not to deceive or abuse Bitplay Club or its customers; will not violate Bitplay Club Referral
            Program conditions.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             10. Terms of liability
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             10.1. Bitplay Club is not responsible for any kind of loss or damage that may occur by logging in using the user’s registration
            details, whether such loss is the user’s fault or a third party.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             10.2. Bitplay Club is not responsible for losses due to force majeure (acts of war, strike, blockade, natural disaster,
            cyber-crime and others) which result in the registration of users or in which purchase of instant lottery tickets is limited
            or impossible.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             10.3. If a properly registered and paid ticket does not participate in the Lottery for reasons of force majeure, the liability
            is limited to refunding the amount paid for the ticket.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             11. Claims
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" />
          <p class="pp_contents lol_darkgray font_roboto">
             11.1. Claims can be submitted by sending an e-mail to info@bitplay.club.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             11.2. Please provide all relevant information when submitting a claim so that it can be resolved in a timely manner.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>