<div class="lomotherbody">
  <img src="assets/imgs/blugbg.png" class="ab_bg" />
  <div class="container">
    <div class="row">

      <div class="col-md-12" style="margin-top: 15px;">
        <a routerLink="/" class="breadcums lol_graywhite font_roboto">
          TOP
        </a>
        <i class="fa fa-angle-right lol_arrow_icon lol_graywhite" aria-hidden="true"></i>
        <a routerLink="/loto/lottery-rules" class="breadcums lol_black font_roboto">
          Lottery Rules
        </a>
      </div>
      <div class="col-md-12">
        <h1 class="lol_htitle lol_black font_asap">Lottery Rules</h1>
      </div>
      <div class="col-md-12 lol_wrote_panel">
        <app-bit-tabs [tid]="tid" (myevent)="getTidFromTab($event)"></app-bit-tabs>
        <div *ngIf="tid == 1" class="bet_tabbody">
          <h2 class="lol_sub_htitle lol_black font_roboto">BIT NUMBER 3 Rules</h2>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
               We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
        </div>
        <div *ngIf="tid == 2" class="bet_tabbody">
          <h2 class="lol_sub_htitle lol_black font_roboto">BIT NUMBER 4 Rules</h2>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
          <div class="lor_lr_txtlayouts">
            <h4 class="lol_lr_titles lol_bluesky font_roboto">texttexttexttext</h4>
            <p class="lol_sub_contents lol_black font_roboto">
              We use an open source algorithm for calculating drawn numbers so everyone could check the results of each draw. Please see
              below the detailed explanation: open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm open source algorithm open source algorithm
              open source algorithm open source algorithm open source algorithmopen source algorithm open source algorithm open source
              algorithm open source algorithm open source algorithm open source algorithm
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>