  <div class="lomotherbody">
    <img src="assets/imgs/blugbg.png" class="ab_bg" />
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
          <i class="fa fa-angle-left lol_arrow_icon lol_black" aria-hidden="true"></i>
          <a routerLink="/" class="breadcums lol_black font_roboto">
            Back
          </a>
        </div>
        <div class="col-md-12">
          <h1 class="lol_htitle lol_white font_asap">Referral Program</h1>
        </div>
        <div class="col-md-12 lol_wrote_panel">
  
            <p class="pp_contents lol_darkgray font_roboto">
              Our referral program is a great way to earn bitcoins by inviting new players to BITCOIN LOTO.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              We invite everyone to promote our lottery and earn commissions on all sales referred to our website. All you need to do is register an account with us and click on "Get Started" button below.
            </p>

            <div class="row" style="padding-top: 30px;">
              <div class="col-md-12 text-center">
                <h3 class="wwo font_asap">What we offer</h3>
              </div>
            </div>
            <div class="row">
              <div class="rowobj col-md-6 text-center">
                <p class="wwo_title lol_darkgray font_roboto">Dummy dummy text text dummy</p>
                <img src="assets/imgs/referral1.png" />
              </div>
              <div class="rowobj col-md-6 text-center">
                <p class="wwo_title lol_darkgray font_roboto">Dummy dummy text text dummy</p>
                <img src="assets/imgs/referral2.png" />
              </div>
              <div class="rowobj col-md-6 text-center">
                <p class="wwo_title lol_darkgray font_roboto">Dummy dummy text text dummy</p>
                <img src="assets/imgs/referral3.png" />
              </div>
              <div class="rowobj col-md-6 text-center">
                <p class="wwo_title lol_darkgray font_roboto">Dummy dummy text text dummy</p>
                <img src="assets/imgs/referral4.png" />
              </div>
            </div>
            <div class="row" style="padding: 90px 0px;">
              <div class="col-md-12 text-center">
                <img class="startbtn" src="assets/imgs/get_startedbtn.png" (click)="goReferalTerms()" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="pp_contents lol_darkgray font_roboto">
                  We are proud to be the company that uses transparent, probably fair algorithm for draw results, this make us better and more trusted service in the eyes of customers. People can trust us because they know that we can't rig draw results. 
                  This is why you can refer other people to our website and be sure that it's an honest place. Still not sure if you need it? Well, it's free of charge and it's a great way to make money, the more sales you refer, the more money you will earn.
                </p>
              </div>
            </div>
  
        </div>
      </div>
    </div>
  </div>