<div class="lomotherbody">
  <img src="assets/imgs/blugbg.png" class="ab_bg" />
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 15px;">
        <a routerLink="/" class="breadcums lol_graywhite font_roboto">
          TOP
        </a>
        <i class="fa fa-angle-right lol_arrow_icon lol_graywhite" aria-hidden="true"></i>
        <a routerLink="/loto/privacy-policy" class="breadcums lol_black font_roboto">
           Privacy Policy
        </a>
      </div>
      <div class="col-md-12">
        <h1 class="lol_htitle lol_black font_asap">Privacy Policy</h1>
      </div>
      <div class="col-md-12 lol_wrote_panel" style="padding-bottom: 110px;">
        <div class="pp_contents_group" style="margin-top: 30px;">
          <p class="pp_contents lol_darkgray font_roboto">
            This privacy policy discloses the privacy practices in which Bitplay Club collect, uses, maintains collected information
            from users (each, a "User") of the https://bitplay.club/ website ("Site"). To provide you with our Services, we need to collect
            some of your personal information.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             This privacy policy applies to the Site and all Services offered by Bitplay Club.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             Information Collection
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;"/>
          <p class="pp_contents lol_darkgray font_roboto">
             By simply visiting the Site, users do not provide any personal information neither is the user forced to provide it. Before
            collecting your personal information we will provide you with the purposes for which the information is collected. We may
            collect it when users register on the Site, sign in their accounts, make a payment and/or a withdrawal. We only collect information
            that users voluntarily provide us. Users can always refuse to provide personal information, bit it may prevent them from
            being able to use certain Site related functionality. We will store your personal information for as long as we need to fulfill
            the purposes for which we collect your information.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
            Non-personal information
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;" />
          <p class="pp_contents lol_darkgray font_roboto">
             We may collect non-personal information about Users whenever they interact with our Site. Non-personal information may include
            the browser name, the type of computer and technical information about Users, means of connection to our Site, such as the
            operating system and the Internet service providers utilized, and other similar information.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             How we use collected information
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Bitplay Club uses the collected information for the following purposes:
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             To improve customer service: information provided by Users let us cover all customer support requests more efficiently
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             To improve our Site: we may use feedback provided by Users to improve our services
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             To send periodic emails: we may use the email address to send information and updates regarding out services
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             How we protect your personal information
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;" />
          <p class="pp_contents lol_darkgray font_roboto">
             We implement a variety of security measures to protect your personal information from loss, theft, disclosure, copy or unauthorized
            access. Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel
            and is encrypted and protected with digital signatures. Your info is protected both online and offline.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             How we use cookies
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;" />
          <p class="pp_contents lol_darkgray font_roboto">
             We use cookies that collect non-personal information from visitors of our website to track the performance of the website
            and improve it for the better user experience.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             Collected information sharing
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;" />
          <p class="pp_contents lol_darkgray font_roboto">
             We will not sell, trade or rent collected information to anyone. We may share generic aggregated demographic information
            not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates
            and advertisers for the purposes outlined above.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Minors
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Access to Site for users under the age of 18 is prohibited.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Account closure
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             If you want to close your account and delete all the information associated with it, please send us an official email request
            at info@bitplay.club.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Changes to our Privacy Policy
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             Bitplay Club reserves the right to update this policy if needed. All changes will be posted on this page with prior email
            notification and date of modification. We encourage everyone to check this page from time to time to stay informed about
            how we handle protecting of the information that we collect.
          </p>
          <p class="pp_contents lol_darkgray font_roboto">
             This policy was last modified on December 18, 2017.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             Your acceptance of these terms
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;" />
          <p class="pp_contents lol_darkgray font_roboto">
             By using this Site, you indicate that you accept Terms of Use. If you do not agree to this policy, please do not use our
            Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those
            changes.
          </p>
        </div>
        <div class="pp_contents_group">
          <h4 class="pp_title lol_bluesky font_roboto">
             Contact details
          </h4>
          <hr class="pp_bluesky_border" />
          <hr class="pp_bluesky_border" style="margin-bottom: 30px;" />
          <p class="pp_contents lol_darkgray font_roboto">
             You may contact us using the email below if you have any questions regarding this Privacy Policy: info@bitplay.club.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>