<div class="lologin">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 15px;">
        <i class="fa fa-angle-left lol_back_icon" aria-hidden="true"></i>
        <a routerLink="/" class="lol_back font_roboto">
          &nbsp;Back
        </a>
      </div>
      <div class="col-md-12">
        <h1 class="lol_htitle font_asap">LOGIN</h1>
      </div>
      <div class="col-md-12 bordered_outer login_mainbody">
        <div class="row bordered_inner">

          <div class="col-md-12 text-right">
            <a routerLink="/loto/register">
              <img src="assets/imgs/orregisterbtn.png" />
            </a>
          </div>

          <div class="col-md-12 login_inputgroups">
            <form name="form" (ngSubmit)="fpassword.form.valid && (captchaResponse != '') && this.doSubmit() " #fpassword="ngForm" validate>
              <div class="row">
                <div class="form-group col-md-12 fpassword" [ngClass]="{ 'has-error': fpassword.submitted && !email.valid }">
                  <label class="font_roboto login_labels">Forgot password?</label>
                  <p class="m0 font_roboto fcomment">Please enter your e-mail address below and please wait for contact from us</p>
                  <input type="email" class="form-control login_inputs" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                  <div *ngIf="fpassword.submitted && !email.valid" class="font_roboto help-block">Mail address is required</div>
                </div>
              </div>
              <div class="row" style="margin-top: 40px;">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                  <re-captcha class="captcha_widget" (resolved)="resolved($event)" siteKey="6LdkTWAUAAAAAGKrAlDQyPKC_dOL_YgiDFYTLPcc"></re-captcha>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-12 text-center" style="margin-top: 10px;">
                  <div *ngIf="fpassword.submitted && (captchaResponse == '')" class="font_roboto help-block">Please check the Recaptcha</div>
                  <button class="login_btn">
                    <img src="assets/imgs/forgotsubmit.png" />
                  </button>
                </div>
                <div class="col-md-12 reg_inputgroups text-center">
                  <div style="margin-top: 20px;">
                    <a routerLink="/loto/login/0" class="font_roboto forgotlink">
                      Return to login
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-12 email_submitted_notify text-center">
            <h3 class="font_roboto notify_contents">I sent you an e-mail.</h3>
            <h3 class="font_roboto notify_contents">Please confirm the reception of this e-mail</h3>
            <img src="assets/imgs/mailbox.png" class="mailboxer" />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>