  <div class="lomotherbody">
    <img src="assets/imgs/blugbg.png" class="ab_bg" />
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
          <i class="fa fa-angle-left lol_arrow_icon lol_black" aria-hidden="true"></i>
          <a routerLink="/" class="breadcums lol_black font_roboto">
            Back
          </a>
        </div>
        <div class="col-md-12">
          <h1 class="lol_htitle lol_white font_asap">My referrals</h1>
        </div>
        <div class="col-md-12 lol_wrote_panel">
  
            <p class="pp_contents lol_darkgray font_roboto">
              1. T&C of the Referral Program
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.1 Any customer can participate in the Referral program run by Bitplay Club.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.2 To be eligible to participate in the Referral program as Referrer the customer needs to have an activated account with Bitplay Club lottery service.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.3 Every customer receives its unique Referral link upon account activation. This Referral link needs to be provided to other people for becoming a referral. 
              A new player becomes a referral after registering an account through someone's referral link. All referral links are valid 1 year upon clicking on it however we use the rule "Last Cookies Wins"
              which means that if an individual clicked on the referral link of a referrer A, didn't register an account and then clicked on the referral link of a referrer B he's automatically considered by 
              the system as a referral of the last referrer, in this example it's a referrer B.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.4 Each referrer receives a reward when its referral purchase lottery tickets. The level of this reward is stated on the Referral Program page.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.5 All referral rewards are added to the referrer's account balance once a day after the draw is closed and all tickets are counted.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6 When promoting Bitplay Club service all referrers must agree that the following activities are prohibited in regards to the promotion of Bitplay club:
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6.1 Spamming, mass emailing;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6.2 Using difference bots that distribute referral link;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6.3 Using of scripts/codes/algorithms that will message/invite individuals and send them the referral link;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6.4 Misleading information about Bitplay Club lottery service;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6.5 Creating multiple accounts at Bitplay Club;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.6.6 Creating websites, domains, social medias, email address containing Bitplay Club trade mark or imitating its beloging to Bitplay Service;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7 Bitplay Club customers agree not to use any prohibited content while participation in Referral Program. Prohibited content is:
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7.1 Content which promotes racism, bigotry, hatred, discrimination or physical harm of any kind against any group or individual;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7.2 Offensive, abusive, intimidating or harassing content;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7.3 Content that is sexually explicit, obscene and/or contains nudity;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7.4 Any political and/or religious statement;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7.5 Content containing images or reference to drugs, alchol, tobacco, weapons or firearms;
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.7.6 Content that violates someone's else's privacy.
            </p>
            <p class="pp_contents lol_darkgray font_roboto">
              1.8 Bitplay Club customers agree not to deceive or abuse Bitplay Club or its customers; will not violate Bitplay Club Referral Program condistions.
            </p>

            <div class="row" style="margin: 60px 0px;">
              <div class="col-md-12 text-center">
                <img class="agree_referral_conditions" src="assets/imgs/agree_referral_condition.png" (click)="gotocheckReferrel()" />
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>