<div class="mainfooter">
    <div class="container bottomfooter">
        <div class="row footerpanel">
            <div class="col-md-6 f1left">
                <img src="assets/imgs/llogo.png" />
            </div>
            <div class="col-md-6 f1right">
                <span class="socialb_widget">
                    <img src="assets/imgs/facebook.png"/>
                </span>
                <span class="socialb_widget">
                    <img src="assets/imgs/twitter.png" />
                </span>
                <span class="socialb_widget">
                    <img src="assets/imgs/linkdin.png" />
                </span>
                <span class="socialb_widget">
                    <img src="assets/imgs/youtube.png" />
                </span>
                <span class="socialb_widget">
                    <img src="assets/imgs/google.png" />
                </span>
            </div>
            <div class="col-md-12 f2body">
                <h6>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> BITCOINLOTO All Right Reserved.</h6>
            </div>
        </div>
    </div>
</div>