<div class="lologin">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
          <i class="fa fa-angle-left lol_back_icon" aria-hidden="true"></i>
          <a routerLink="/" class="lol_back font_roboto">
            &nbsp;Back
          </a>
        </div>
        <div class="col-md-12">
          <h1 class="lol_htitle font_asap">Reset Password</h1>
        </div>
        <div class="col-md-12 bordered_outer login_mainbody">
          <div class="row bordered_inner">
            <div *ngIf="showForm == 0" class="col-md-12 text-center">
              <p class="font_roboto verfiying">Your code is invalid, please try again.</p>
            </div>
            <div *ngIf="showForm == 1" class="col-md-12 resendPanel">
              <form name="form" (ngSubmit)="resetPw.form.valid && this.doResetPassword() " #resetPw="ngForm" validate>
                <div class="form-group" [ngClass]="{ 'has-error': resetPw.submitted && !password.valid }">
                  <label class="font_roboto login_labels">Password</label>
                  <input class="form-control login_inputs" type="password" name="password" [(ngModel)]="newPwModel.password" #password="ngModel" required />
                  <div *ngIf="resetPw.submitted && !password.valid" class="font_roboto help-block">Password is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': resetPw.submitted && !confirm_password.valid }">
                  <label class="font_roboto login_labels">Confirm Password</label>
                  <input class="form-control login_inputs" type="password" name="confirm_password" [(ngModel)]="newPwModel.confirm_password" #confirm_password="ngModel" required />
                  <div *ngIf="resetPw.submitted && !confirm_password.valid" class="font_roboto help-block">Confirm Password is required</div>
                </div>
                <div class="form-group text-center">
                  <button class="resend_btn font_roboto">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>